@{
  ViewBag.Title = "Order placed";
}

<div class="text-center">
  <h1 class="display-4">Your order has been placed and will be with you by
    @(((DateTimeOffset)ViewData["DueBy"]!).ToString("t"))</h1>
</div>